.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
#container {
  display: inline;
}
#toolbar {
  display: inline-block;
  position: absolute;
  top: 16vh;
  width: 4.5rem;
  z-index: 99;
  left: 2rem;
  text-align: center;
  pointer-events: none;
}
.tool {
  animation: tool-color 15s infinite;
  display: inline-block;
  background-color: #ffc0cb;
  border-radius: 30%;
  -webkit-box-shadow: 0.1rem 0.1rem 0 rgb(0 0 0 / 25%);
  box-shadow: 0.1rem 0.1rem 0 rgb(0 0 0 / 25%);
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem 0;
  pointer-events: auto;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@keyframes tool-color {
  33% {
    border-radius: 40%;
  }
  67% {
    border-radius: 50%;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ffc0cb;
}

::-webkit-scrollbar-thumb:hover {
  background: #fa94a5;
}
#room_name {
  display: block;
  height: 10%;
  background-color: #fd6982;
  width: 100%;
  text-align: center;
}
#canvas_container {
  width: 100%;
  text-align: center;
}
#canvas {
  display: inline;
  border: 5px solid black;
  margin-top: 60px;
  border-radius: 1%;
}
#event_bar {
  position: absolute;
  padding: 1%;
  /*background-color: #53850a;*/
  background-color: none;
  top: 20%;
  right: 2rem;
  min-height: auto;
  max-height: 80%;
  overflow: auto;
  border: 2px solid black;
  width: 15%;
}
#event_title {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
#event_title button {
  background-color: #ffc0cb;
}
.event {
  position: relative;
  min-height: auto;
  background-color: #adff2f;
  padding: 5%;
  padding-top: 10%;
  margin-top: 2%;
  font-size: 14px;
  border: 2px solid black;
}
#clearBtn {
  position: fixed;
  top: 5px;
  margin-left: 10px;
}
#figure_ctx_menu {
  margin: 0px;
  padding: 0px;
  width: 150px;
  list-style: none;
  background-color: white;
  position: fixed;
  display: none;
  border: 2px solid black;
}
#figure_ctx_menu li {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
